{{> head }}


    
    {{> navbar }}

<div class="row">

<div class="col-8">
<h1>El equilibrio esta en un punto</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure provident laborum sunt ducimus inventore amet laudantium perferendis dignissimos voluptas rem delectus, rerum quos repellat debitis doloribus harum suscipit quis necessitatibus!
</p>


</div>


<div class="col-4">

<img src="assets/img/índice.jpeg" class="img-thumbnail">




</div>



</div>
    {{> footer }}